body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:800px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:600px;
  display:flex;
}
#u240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u241 label {
  left:0px;
  width:100%;
}
#u241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:405px;
  width:100px;
  height:15px;
  display:flex;
}
#u241 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u241_img.selected {
}
#u241.selected {
}
#u241_img.disabled {
}
#u241.disabled {
}
#u241_img.selectedDisabled {
}
#u241.selectedDisabled {
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u241_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u242 label {
  left:0px;
  width:100%;
}
#u242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:432px;
  width:116px;
  height:15px;
  display:flex;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u242_img.selected {
}
#u242.selected {
}
#u242_img.disabled {
}
#u242.disabled {
}
#u242_img.selectedDisabled {
}
#u242.selectedDisabled {
}
#u242_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
}
#u242_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u243 label {
  left:0px;
  width:100%;
}
#u243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:457px;
  width:153px;
  height:15px;
  display:flex;
}
#u243 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u243_img.selected {
}
#u243.selected {
}
#u243_img.disabled {
}
#u243.disabled {
}
#u243_img.selectedDisabled {
}
#u243.selectedDisabled {
}
#u243_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:137px;
  word-wrap:break-word;
  text-transform:none;
}
#u243_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u244 label {
  left:0px;
  width:100%;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:98px;
  top:482px;
  width:100px;
  height:15px;
  display:flex;
}
#u244 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u244_img.selected {
}
#u244.selected {
}
#u244_img.disabled {
}
#u244.disabled {
}
#u244_img.selectedDisabled {
}
#u244.selectedDisabled {
}
#u244_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u244_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u245 label {
  left:0px;
  width:100%;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:300px;
  width:100px;
  height:15px;
  display:flex;
}
#u245 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u245_img.selected {
}
#u245.selected {
}
#u245_img.disabled {
}
#u245.disabled {
}
#u245_img.selectedDisabled {
}
#u245.selectedDisabled {
}
#u245_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u245_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u246 label {
  left:0px;
  width:100%;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:330px;
  width:117px;
  height:15px;
  display:flex;
}
#u246 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u246_img.selected {
}
#u246.selected {
}
#u246_img.disabled {
}
#u246.disabled {
}
#u246_img.selectedDisabled {
}
#u246.selectedDisabled {
}
#u246_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:101px;
  word-wrap:break-word;
  text-transform:none;
}
#u246_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u247 label {
  left:0px;
  width:100%;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:360px;
  width:117px;
  height:15px;
  display:flex;
}
#u247 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u247_img.selected {
}
#u247.selected {
}
#u247_img.disabled {
}
#u247.disabled {
}
#u247_img.selectedDisabled {
}
#u247.selectedDisabled {
}
#u247_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:101px;
  word-wrap:break-word;
  text-transform:none;
}
#u247_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u248 label {
  left:0px;
  width:100%;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:2px;
  width:12px;
  height:12px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:390px;
  width:100px;
  height:15px;
  display:flex;
}
#u248 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u248_img.selected {
}
#u248.selected {
}
#u248_img.disabled {
}
#u248.disabled {
}
#u248_img.selectedDisabled {
}
#u248.selectedDisabled {
}
#u248_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:84px;
  word-wrap:break-word;
  text-transform:none;
}
#u248_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:230px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u249 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:258px;
  width:255px;
  height:230px;
  display:flex;
}
#u249 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:510px;
  width:91px;
  height:22px;
  display:flex;
}
#u250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:141px;
  width:188px;
  height:38px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:21px;
}
#u251 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-style:normal;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:99px;
  width:135px;
  height:81px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-style:normal;
}
#u252 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Blackadder ITC Bold', 'Blackadder ITC', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:652px;
  top:482px;
  width:73px;
  height:33px;
  display:flex;
  font-family:'Blackadder ITC Bold', 'Blackadder ITC', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u253 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-style:normal;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:450px;
  width:109px;
  height:28px;
  display:flex;
  font-family:'Arial Narrow', 'Arial', sans-serif;
  font-style:normal;
}
#u254 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
